usr/src/lib/libbrand/dtd/zone_platform.dtd.1

<?xml version='1.0' encoding='UTF-8' ?>

<!--
 CDDL HEADER START

 The contents of this file are subject to the terms of the
 Common Development and Distribution License (the "License").
 You may not use this file except in compliance with the License.

 You can obtain a copy of the license at usr/src/OPENSOLARIS.LICENSE
 or http://www.opensolaris.org/os/licensing.
 See the License for the specific language governing permissions
 and limitations under the License.

 When distributing Covered Code, include this CDDL HEADER in each
 file and include the License file at usr/src/OPENSOLARIS.LICENSE.
 If applicable, add the following below this CDDL HEADER, with the
 fields enclosed by brackets "[]" replaced with your own identifying
 information: Portions Copyright [yyyy] [name of copyright owner]

 CDDL HEADER END

 Copyright 2007 Sun Microsystems, Inc.  All rights reserved.
 Use is subject to license terms.

 ident	"%Z%%M%	%I%	%E% SMI"

 DO NOT EDIT THIS FILE.
-->

<!--
  device

    Defines a device (or set of devices) to be exported into the zone.

    Its attributes are

      match	Pattern to match under /dev.  Follows fnmatch(3c) rules.
		The following replacements are performed:
			%z	Name of zone

      name	Name of device in non-global zone.  This is optional; the
		default is the same name as the global zone.

      arch	Identifies devices only available for certain architectures.
		Can be "sparc" or "i386".

      ip-type	Optional, identifies devices only available for certain IP
		types. Can be "shared" or "exclusive". If it's not specified,
		the default value "all" will be used, which means it's
		available regardless the IP type.

    For example, the following entry:
	<device match="brand/windows/foo" name="bar" arch="sparc" />
    would result in mapping the following global zone device:
	/dev/brand/windows/foo
    into the zone (disregarding its IP type) as:
	/dev/bar
    but the mapping would only exist on sparc machines.

-->
<!ELEMENT device	EMPTY >

<!ATTLIST device	match	CDATA #REQUIRED
			name	CDATA ""
			arch	( sparc | i386 ) "all" 
			ip-type	( shared | exclusive ) "all" >

<!--
  symlink

    Defines a symlink to be created under /dev.

    Its attributes are

      source	Link source

      target	Link target
-->
<!ELEMENT symlink	EMPTY >

<!ATTLIST symlink	source	CDATA #REQUIRED
			target	CDATA #REQUIRED >

<!--
  global_mount

    Describes a filesystem that must be mounted before the zone is booted.
    This mount is performed by a thread executing in the the context of
    the global zone.

    Its attributes are

      special	The special device as used by the mount command.
		This path is relative to the global zone.
		The following replacements are performed:
			%R	Root of zone

      directory	The directory where it will be mounted.
		This path is relative to the non-global zone.

      type	The filesystem type
-->
<!ELEMENT global_mount	EMPTY >

<!ATTLIST global_mount	special		CDATA #REQUIRED
			directory	CDATA #REQUIRED
			opt		CDATA ""
			type		CDATA #REQUIRED>

<!--
  mount

    Describes a filesystem that must be mounted before the zone is booted.
    This mount is performed by a thread executing in the the context of
    the non-global zone.

    Its attributes are

      special	The special device as used by the mount command
		This path is relative to the non-global zone.

      directory	The directory where it will be mounted.
		This path is relative to the non-global zone.

      type	The filesystem type
-->
<!ELEMENT mount	EMPTY >

<!ATTLIST mount	special		CDATA #REQUIRED
				directory	CDATA #REQUIRED
				opt		CDATA ""
				type		CDATA #REQUIRED>

<!--
  platform

    The toplevel container for a virtual platform configuration.  The virtual
    platform describes the basic elements to bring up the necessary services
    (filesystems, devices, etc) to boot the zone.

    Its attributes are

      name	The name of the brand.  This must match the name of the
		directory in which this file is stored, as well as the name
		of the brand that refers to it.
      allow-exclusive-ip	Whether the zones of this brand can have their
				own exclusive IP stack. It is a boolean value. 
-->
<!ELEMENT platform	(device | global_mount | mount | symlink)* >

<!ATTLIST platform	name			CDATA #REQUIRED
			allow-exclusive-ip	(true | false) #REQUIRED>
