usr/src/lib/libzonecfg/dtd/zonecfg.dtd.1

<?xml version='1.0' encoding='UTF-8' ?>

<!--
 CDDL HEADER START

 The contents of this file are subject to the terms of the
 Common Development and Distribution License, Version 1.0 only
 (the "License").  You may not use this file except in compliance
 with the License.

 You can obtain a copy of the license at usr/src/OPENSOLARIS.LICENSE
 or http://www.opensolaris.org/os/licensing.
 See the License for the specific language governing permissions
 and limitations under the License.

 When distributing Covered Code, include this CDDL HEADER in each
 file and include the License file at usr/src/OPENSOLARIS.LICENSE.
 If applicable, add the following below this CDDL HEADER, with the
 fields enclosed by brackets "[]" replaced with your own identifying
 information: Portions Copyright [yyyy] [name of copyright owner]

 CDDL HEADER END

 Copyright 2005 Sun Microsystems, Inc.  All rights reserved.
 Use is subject to license terms.

    ident	"%Z%%M%	%I%	%E% SMI"
-->

<!--Element Definitions-->

<!ELEMENT fsoption	EMPTY>
<!ATTLIST fsoption	name		CDATA #REQUIRED>

<!ELEMENT filesystem	(fsoption)* >

<!ATTLIST filesystem	special		CDATA #REQUIRED
			raw		CDATA ""
			directory	CDATA #REQUIRED
			type		CDATA #REQUIRED>

<!ELEMENT inherited-pkg-dir	EMPTY>

<!ATTLIST inherited-pkg-dir	directory	CDATA #REQUIRED>

<!ELEMENT network	EMPTY>

<!ATTLIST network	address		CDATA #REQUIRED
			physical	CDATA #REQUIRED>

<!ELEMENT device	EMPTY>

<!ATTLIST device	match		CDATA #REQUIRED>

<!ELEMENT rctl-value	EMPTY>

<!ATTLIST rctl-value	priv		CDATA #REQUIRED
			limit		CDATA #REQUIRED
			action		CDATA #REQUIRED>

<!ELEMENT rctl          (rctl-value)*>

<!ATTLIST rctl		name		CDATA #REQUIRED>

<!ELEMENT attr		EMPTY>

<!ATTLIST attr		name		CDATA #REQUIRED
			type		(boolean | int | string | uint)
					#REQUIRED
			value		CDATA #REQUIRED>

<!ELEMENT dataset	EMPTY>

<!ATTLIST dataset	name		CDATA #REQUIRED>

<!ELEMENT zone		(filesystem | inherited-pkg-dir | network | device | rctl | attr | dataset)*>

<!ATTLIST zone		name		CDATA #REQUIRED
			zonepath	CDATA #REQUIRED
			autoboot	(true | false) #REQUIRED
			pool		CDATA ""
			version		NMTOKEN #FIXED '1'>
